@font-face { font-family: NHL; font-weight: bold; src: url("fonts/nhl.ttf");}

body{
    background-image:url(images/background.png);
    background-repeat:no-repeat;
    color:black;
    text-align: center;
    background-size: cover;
    }
  
header{font-family: NHL, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: blue;
}  

nav{text-align: center;
font-size: 20px;
word-spacing: 2em;
background-color: red;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
}

main{background-color: white;
    min-height:500px;
}

footer{font-size:0.75em;
    background-color: black;
    color:white;
}

ul{list-style: none;
text-align: center;
margin-right: 2.3em;
}

a,a:visited{color:black;
}

nav a:hover{color:white;
}

main a:hover{color:red;
}

main a:visited{color:blue;
}

#image{float: left;
width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
